@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

html {
    overflow-x: hidden;
}

header {
    width: 100vw;
    z-index: 9999;
}

div.navbar {
    background-color: #8A00ED;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    z-index: 9999;

    position: fixed;
    width: 100%;
}

div.navbar a {
    text-decoration: none;
    color: white;
    font-size: 1em;
}

div.bannerslideshow img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

div.navbar input[type=text] {
    font-size: 0.8em;
    border: none;
    background-color: #6900B5;
    color: white;
    padding: 8px;
    border-radius: 50px;
}

div.navbarlink {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.navbarlink a {
    padding-right: 30px;
}

a.link:hover {
    opacity: 80%;
}


.logo img {
    padding-top: 10px;
    width: 180px;

}

.nameanime {
    background-color: white;
    height: 50px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.animebox {

    flex-basis: 20%;
    display: grid;
    flex-direction: column;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    border: 1px solid #c2c2c2;
    width: 159px;
    overflow: hidden;
    position: relative;

}

.animebox[data-seen="true"] {
    background-color: #6900B5;
    color: white;
    flex-basis: 20%;
    display: grid;
    flex-direction: column;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    border: 1px solid #c2c2c2;
    width: 159px;
    overflow: hidden;
    position: relative;

}

.animebox[data-seen="true"] :hover {
    color: white;
}

.nameanime[data-seen="true"] {
    background-color: #6900B5;
    color: white;
    position: relative;
}

#overlaytext {
    color: white;
    font-size: 17px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 99;
    border: 3px solid white;
    box-sizing: border-box;
    border-radius: 50px;

}

#animebox:hover img {
    transition: ease-in 0.3s;
    transform: scale(1.1);
    overflow: hidden;

}

.animebox :hover {
    color: #6900B5;
}

.searchresult {
    text-align: center;
}

.searchlist {
    display: grid;
    grid-template-columns: repeat(4, 160px);
    justify-content: center;
    column-gap: 20px;
    row-gap: 40px;
    padding-top: 100px;
}

.imageanime {
    width: 160px;
    height: 234px;
    object-fit: cover;

}

.nameanime {
    position: relative;
}

.nameanime a {
    padding: 1em;
    position: relative;
}

.overlay {
    background-color: #6900B5;
    opacity: 0;
    position: absolute;
    width: 160px;
    height: 284px;
    z-index: 98;
}

.fiche {
    display: flex;
    text-align: justify;
    padding-top: 100px;
    margin-left: 40px;
}

.fichesynopsis {
    margin: 0px 50px 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fichesynopsis h1 {
    font-size: 3 em;
}



.overlay:hover {
    opacity: 0.9;
    transition: 0.3s ease-in;
}

.buttons {
    margin-left: 40px;

}

.addtolist {
    background-color: #6900B5;
    color: white;
    border-color: #6900B5;
    width: 60px;
    border-radius: 50px;
}

.addtolist:active {
    background-color: white;
    color: #6900B5;
    border-color: #6900B5;
    width: 60px;
    border-radius: 50px;
    border-style: solid;
}

.alreadyseen {
    background-color: #6900B5;
    color: white;
    border-color: #6900B5;
    width: 60px;
    border-radius: 50px;
    margin-left: 100px;
}

.alreadyseen:active {
    background-color: white;
    color: #6900B5;
    border-color: #6900B5;
    width: 60px;
    border-radius: 50px;
    border-style: solid;

}